/* Google font */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #000000, #1663bb);
  overflow-x: hidden !important;
}

h1 {
  font-size: 4rem !important;
}

h4 {
  font-size: 2.4rem !important;
}

a {
  text-decoration: none;
}

.logo_width {
  width: 100px;
}
/* Letter bolder in pixels */
/* .main_text {
  width: 1000px;
} */

/* Letter spacing in pixels */
.my-text {
  letter-spacing: -5px;
  line-height: 50px;
  width: 80%;
}

.my-text_h4 {
  letter-spacing: -2px;
  line-height: 35px;
  width: 80%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.banner_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.img_width {
  width: 300px;
}

/* Media query for medium-sized screens  768*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }

  .logo_width {
    width: 55px;
  }

  .my-text {
    letter-spacing: -3px;
    line-height: 25px;
  }

  .my-text_h4 {
    letter-spacing: -1.5px;
    line-height: 20px;
  }
  .my-items {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  h1 {
    font-size: 2rem !important;
  }

  h4 {
    font-size: 1.4rem !important;
  }

  .img_width {
    width: 200px;
  }

  .banner_img {
    width: 80% !important;
  }
}
